# Coursera - Applied Data Science Capstone

## Segmenting and Clustering Neighbourhoods in Toronto

After comparison between using pandas and beautifulSoup to scrape table data from a website, I have decided to use pandas since it is more efficient.

In [1]:
# import pandas
import pandas as pd

Now I will use pandas to read the html file and store the identified tables in a dataframe called html_dfs.

In [2]:
html_dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
for df in html_dfs:
    print(df)

    Postal code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                          Neighborhood
0                                                  NaN
1                                                  NaN
2                                            Parkwoods
3                                     Victoria Village
4                           Regent Park / Harbourfront
..                                                 ...
175                                                NaN
176                                                NaN
177                                                NaN
178  Mimico NW / The Queensway West / South of Bloo...
179                                                NaN

[180 rows x 3 columns]
                                                  0   \
0                                                NaN
1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
2                                                 NL
3                                                  A

                                                  1   \
0                              Canadian postal codes
1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
2                                                 NS
3                                                  B

                                                  2    3    4    5    6    7   \
0                                                NaN  NaN  NaN  NaN  NaN  NaN
1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
2                                                 PE   NB   QC   QC   QC   ON
3                                                  C    E    G    H    J    K

    8    9    10   11   12   13   14   15     16   17
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
3    L    M    N    P    R    S    T    V      X    Y
   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y

It can be seen that the read_html statement returned several dataframes. I am only interested in the first one.

In [4]:
html_dfs[0].head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [5]:
# Assign the above dataframe to toronto_data dataframe
toronto_data = html_dfs[0]
toronto_data.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Now I will remove all the rows where the Borough is 'Not assigned'

In [6]:
toronto_data = toronto_data[toronto_data.Borough != 'Not assigned']
toronto_data.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Now, if a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. Therefore I need to find all the rows that satisfy this condition.

In [7]:
no_neighborhood = toronto_data[toronto_data.Neighborhood == 'Not assigned']
no_neighborhood

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

There are no Neighborhoods with a 'Not assigned' value. Therefore the most recent toronto_data dataframe will not be modified.

In [8]:
toronto_data.shape

(103, 3)

Now I need to identify all the entries with the same Postal Code but more than one neighborhood and combine the neighborhoods separated by a comma. First I need to count all the unique Postal codes in the dataframe. If the unique Postal codes is equal to the rows in the toronto_data dataframe, it can be concluded that there are no entries with the same Postal code but more than one neignborhood.

In [24]:
postal_codes = toronto_data["Postal code"].unique()
unique_count = len(postal_codes)
print(unique_count)

103

There are no duplicate Postal codes in the dataframe.

In [25]:
toronto_data.shape

(103, 3)